
body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #0f172a, #020617);
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(2,6,23,0.9);
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #38bdf8;
    object-fit: cover;
    box-shadow: 0 0 20px #38bdf8;
    animation: float 3s ease-in-out infinite;
}

.typing {
    margin-top: 20px;
    font-size: 30px;
    color: #38bdf8;
}

/* FLOAT */
@keyframes float {
    50% { transform: translateY(-10px); }
}

/* SECTIONS */
section {
    padding: 60px 80px;
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

/* PROJECT CARDS */
.card {
    background: #1e293b;
    padding: 30px;
    margin: 20px 0;
    border-radius: 15px;
    transition: 0.3s;
    font-size: 18px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #38bdf8;
}

/* CERTIFICATES */
.cert-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cert-container img {
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.cert-container img:hover {
    transform: scale(1.1);
}

/* SCROLL ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
